@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Pretendard light;
    color: #2d2c2c;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
    color: inherit;
}

header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

.hWrap{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1{
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 10px;
}

.gnb{
    display: flex;
    position: absolute;
    top: 60px;
    left: 500px;
}

.gnb li{
    font-size: 22px;
}

.util{
    display: flex;
    position: absolute;
    top: 60px;
    right: 100px;
}

.util li{
    font-size: 18px;
    margin-left: 40px;
}

.gnb li:after{
    content: '|';
    margin-left: 40px;
    margin-right: 40px;
}

.gnb li:last-child:after{
    content: none;
}

.bn{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

section{
    display: flex;
    text-align: center;
    justify-content: center;
    padding:  80px 0;
}

.row1 h4, .row2 h4{
    font-size: 20px;
    color: #3a352e;
    font-family: Pretendard thin;
    margin-bottom: 5px;
    margin-top: 5px;
}

.row1 p, .row2 p{
    font-size: 18px;
    color: #3a352e;
    font-family: Pretendard thin;
}

.row1 .item a, .row2 .item a{
    display: block;
    border-radius: 35px;
    overflow: hidden;
}

.row1 .item, .row2 .item{
    margin-left: 40px;
    margin-right: 40px;
}

.txt h3{
    font-family: 'Chosunilbo_myungjo';
    font-size: 20px;
}

.best h2{
    font-family: 'Chosunilbo_myungjo';
}

.txt{
    width: 851px;
    height: 488px;
    border: 3px solid #dddad4;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}

.txt h3{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 22px;
}

.txt p{
    font-size: 20px;
    font-family: Pretendard thin;
}

.line{
    background-color: #a8a39d;
    width: 738px;
    height: 4px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

.best h2, .best h3{
    font-size: 22px;
    text-align: center;
}

.best h2{
    font-family: 'Chosunilbo_myungjo';
    margin-top: 80px;
    margin-bottom: 50px;
}

.best h3{
    font-family: Pretendard thin;
}

.round{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.box{
    margin-left: 60px;
    margin-right: 60px;
}

.con{
    display: flex;
    justify-content: center;
    
}

.box h4{
    font-size: 20px;
    color: #3a352e;
    font-family: Pretendard thin;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: space-between;
    display: flex;
}

.box h4 span{
    font-size: 18px;
    color: #3a352e;
    font-family: Pretendard thin;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #eaeaea;
    position: relative;
}

footer .ft{
    display: flex;
    position: absolute;
    top: 250px;
    left: 150px;
    background-color: transparent;
    border-top: 1px solid #514d48;
    border-bottom: 1px solid #514d48;
}

footer h4, footer p{
    margin-left: 30px;
    margin-right: 30px;
}

footer h4{
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    margin-bottom: 20px;
}

footer p{
    font-family: 'Chosunilbo_myungjo';
    font-size: 20px;
}

footer .site{
    position: absolute;
    top: 250px;
    right: 200px;
    display: flex;
}

.site li{
    margin-right: 40px;
}

.site li:last-child{
    margin: 0;
}

h2{
    position: relative;
}
h2 span{
    position: absolute;
    top: 0;
    right: 100px;
}